<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-body">
            <div class="h1"></div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col"  class="text-center" colspan="2">{{usuario.nombre1}} {{usuario.apellido1}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-right">User name:</td>
                        <td>{{usuario.username}}</td>
                    </tr>
                    <tr>
                        <td class="text-right">Email:</td>
                        <td>{{usuario.email}}</td>
                    </tr>
                    <tr>
                        <td class="text-right">Telefono:</td>
                        <td>{{usuario.telefono}}</td>
                    </tr>
                    <tr>
                        <td class="text-right">Direccion:</td>
                        <td>{{usuario.direccion}}</td>
                    </tr>
                    <tr>
                        <td class="text-center" colspan="2">
                            <a class="btn btn-success" href="/profile/edit">Editar Perfil</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>