<div class="container">
    <p class="text-center">{{capital.suma_monto}}...--...{{capital.count_activo}}</p>
    <div class="row">
        {{#each posiciones}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">{{monto}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{fecha_reg}}</h6>
                    <h6 class="card-subtitle mb-2 {{isActiveColor activo}} rounded">{{isActive activo}}</h6>
                    <a class="btn btn-success" href="/posiciones/detalles/{{id}}">Detalles</a>
                </div>
            </div>
            <div class="card-body"></div>
        </div>
        {{/each}}
    </div>
</div>